<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>ATG</string>
	<key>ordering</key>
	<array>
		<string>A9F7349C-CD06-4101-A694-5D142838E892</string>
		<string>EF3E7735-23FC-4BB4-AE12-EC96A3CAF172</string>
		<string>66B3613B-8221-4DAB-A6E6-C9A8D5C94241</string>
		<string>E6018B3B-7307-4DDF-B09E-517DADFA67B2</string>
		<string>C18B8EA8-ECC9-4674-A483-FAA7D7D7230A</string>
	</array>
	<key>uuid</key>
	<string>D5411166-0063-4F81-8327-0115BA57DFBB</string>
</dict>
</plist>
